body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.corpo{
    
    height: 50%;  
     background-color: #F3F3F3;

    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.topo{
    width: 375px;
    height: 80px;
    background-color: rgba(255, 255, 255, 1);

    display: flex;
    justify-content: space-between;
    align-items: center;
    

    position: fixed;
    top: 0px;
    
    
}

ul {
    width: 375px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    

    margin-top: 64px;
    padding-top: 35px;
    padding-bottom: 100px;
}

li{
    height: 150%;
    display: flex;
    align-items: center;
    word-break: break-all;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 700, bold;
    padding: 10px 9px 10px 8px;
   
    margin-top: 4px;
        
}
 
li.entrada{
    background-color: #DCDCDC;
}

li.reservada{
    background-color: #FFDEDE;
}

.escrevaaqui{
    width: 375px;
    height: 80px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 18px;
    font-weight: 400, regular;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0px;
    

}

.topo > img {
    width: 75px;
    height: 53px;
    margin-left: 22px;
}

.topo > ion-icon{
    font-size: 42.19px;
    caret-color: black; 
    margin-right: 22px;  
    
}

.escrevaaqui > ion-icon{
    font-size: 26px;
    margin-right: 5px;
}

input{
    border: none;
    width: 330px;
    height: 30px;
    font-size: 18px;
    margin-left: 4px;
}

.envio{
    font-style: normal;
}

.negrito{
    font-weight: bold;
}

.cinza{
    color: #AAAAAA;
}